.input {
	background-color: $dark-accent;
	border: 1px solid transparent;
	color: $white;
	font-size: 18px;
	padding: 14px;
	border-radius: 10px;
	outline: none;
	width: 100%;

	&:focus {
		border-color: rgba($accent, 0.3);
	}

	&::placeholder {
		color: #946e86;
	}
}

.error {
	font-size: 1rem;
	color: red;

	text-align: left;
	padding: 2px 14px;
}

.wrapper {
	margin-bottom: 0.7rem;
}
